@*@using qodeless.application.ViewModels
@model IEnumerable<IncomeViewModel>

<fieldset class="fieldset">
    <legend>Receita</legend>
    <div class="row-fluid">
        <div class="span6">
            @Html.AntiForgeryToken()
            <table id="dt" class="dt table-responsive-sm table table-striped table-bordered" style="width:100%"
                   data-cols="useroperationid,note,type,status,duedate,transictiondate,amount,description,accountid,siteid,incometypeid"
                   data-what="Income"
                   data-main-col="name"
                   data-delete-url="/Income/Delete"
                   data-edit-url="/Income/Upsert"
                   data-create-url="/Income/Upsert">
                <thead>
                    <tr>
                        <th>Operação do Usuário</th>
                        <th>Observação</th>
                        <th>Tipo</th>
                        <th>Status</th>
                        <th>Data de Publicação</th>
                        <th>Data de Transição</th>
                        <th>Quantia</th>
                        <th>Descrição</th>
                        <th>Parceiro</th>
                        <th>Casa</th>
                        <th>Tipo de Receita</th>
                        <th data-orderable="false" class="w-110"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="@item.Id" role="row">
                        <td>@item.UserOperationId</td>
                        <td>@item.Note</td>                      
                        <td>@item.Type</td>
                        <td>@item.Status</td>
                        <td>@item.DueDate</td>
                        <td>@item.TransactionDate</td>
                        <td>@item.Amount</td>
                        <td>@item.Description</td>
                        <td>@item.AccountName</td>
                        <td>@item.SiteName</td>
                        <td>@item.IncomeTypeName</td>
                        <td></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<br />*@