@using qodeless.application.ViewModels
@using qodeless.domain.Enums
@model PlayViewModel
@{
    ViewData["Title"] = "Play";
}

<h4>Jogadas</h4>

<form asp-action="Upsert" id="myform">

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="SessionDeviceId" class="control-label">Sessão do Dispositivo</label>
                                <select class="form-control form-control-sm" asp-for="SessionDeviceId" id="SessionDeviceId">
                                    <option value = "0">Selecione</option>
                                    @foreach(var item in ViewBag.SessionDevices)
                                    {
                                        <option value="@item.Id">@item.Id </option>
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="SessionDeviceId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="AmountPlay" class="control-label">Quantia Adquirida</label>
                                <input asp-for="AmountPlay" class="form-control form-control-sm" type="number" min="1" />
                            </div>
                            <span asp-validation-for="AmountPlay" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="AmountExtraball" class="control-label">Qtd. Bolas Extras</label>
                                <input asp-for="AmountExtraball" class="form-control form-control-sm" type="number" min="1" />
                            </div>
                            <span asp-validation-for="AmountExtraball" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="UserPlayId" class="control-label">Jogador</label>
                                <select class="form-control form-control-sm" asp-for="UserPlayId" id="UserPlayId">
                                    <option value = "0">Selecione</option>
                                    @foreach(var item in ViewBag.Users)
                                    {
                                        <option value="@item.UserId">@item.Email </option>
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="UserPlayId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="DeviceId" class="control-label">Device Code</label>
                                <select class="form-control form-control-sm" asp-for="DeviceId" id="DeviceId">
                                    <option value = "0">Selecione</option>
                                    @foreach(var item in ViewBag.Gabinete)
                                    {
                                        <option value="@item.Id">@item.Code </option>
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="DeviceId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="GameId" class="control-label">Jogo</label>
                                 <select class="form-control form-control-sm" asp-for="GameId" id="GameId">
                                    <option value = "0">Selecione</option>
                                    @foreach(var item in ViewBag.Games)
                                    {
                                        <option value="@item.Id">@item.Name </option>
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="GameId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="SiteId" class="control-label">Parceiro</label>
                                 <select class="form-control form-control-sm" asp-for="SiteId" id="AccountId">
                                    <option value = "0">Selecione</option>
                                    @foreach(var item in ViewBag.Accounts)
                                    {
                                        <option value="@item.Id">@item.Name </option>
                                    }
                                </select>
                            </div>
                            <span asp-validation-for="SiteId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mt-3">
            <input type="submit" value="Cadastrar" class="btn btn-outline-success btn-sm w-150" /> |
            <a class="btn btn-outline-secondary btn-sm w-150" asp-action="Index">Voltar</a>
        </div>

    </div>

</form>