@*@using qodeless.application.ViewModels
@model IEnumerable<ExpenseViewModel>

<fieldset class="fieldset">
    <legend>Despesas</legend>
    <div class="row-fluid">
        <div class="span6">
            @Html.AntiForgeryToken()
            <table id="dt" class="dt table-responsive-sm table table-striped table-bordered" style="width:100%"
                   data-cols="sitename,amount,duedate,note,status"
                   data-what="Expense"
                   data-main-col="name"
                   data-delete-url="/Expense/Delete"
                   data-edit-url="/Expense/Upsert"
                   data-create-url="/Expense/Upsert">
                <thead>
                    <tr>
                        <th>Casa</th>                       
                        <th>Quantia</th>
                        <th>Data De Encerramento</th>
                        <th>Observação</th>
                        <th>Status</th>
                        <th data-orderable="false" class="w-110"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="@item.Id" role="row">
                        <td>@item.SiteName</td>
                        <td>@item.Amount</td>
                        <td>@item.DueDate</td>
                        <td>@item.Note</td>
                        <td>@item.Status</td>
                        <td></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<br />*@