@using qodeless.presentation.WebApp.Models
@model SitePlayersViewModel

<fieldset class="fieldset">
    <legend>Jogadas (@Model.SiteName) </legend>
    <div class="row-fluid">
        <div class="span6">
            @Html.AntiForgeryToken()
            <table id="dt" class="dt table-responsive-sm table table-striped table-bordered" style="width:100%"
                   data-cols="amountplay,amountextraball"
                   data-what="Game"
                   data-main-col="name"
                   data-delete-url="/Play/Delete"
                   data-edit-url="/Play/Upsert"
                   data-create-url="/Play/Upsert">
                <thead>
                    <tr>
                        <th>Quantia de Jogadas</th>
                        <th>Qtd. Bolas Extras</th>
                        <th data-orderable="false" class="w-110"></th>
                    </tr>
                </thead>
                <tbody>
                        @if (Model.Plays != null)
                        {
                            @foreach (var item in Model.Plays)
                            {
                            <tr id="@item.Id" role="row">
                                <td>@item.AmountPlay</td>
                                <td>@item.AmountExtraball</td>                        
                                <td></td>
                            </tr>
                            }
                        }
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<br />